<div *ngIf="errorsJson">{{errorsJson}}</div>

<form [formGroup]="course">
  <mat-form-field class="full-width">
    <input matInput placeholder="Title" formControlName="title" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Date" formControlName="creationDate" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Duration" formControlName="duration" />
  </mat-form-field>

  <button class="button--add" type="button" mat-raised-button color="primary" (click)="submit()">
    Save
  </button>

  <button class="button--cancel" type="button" mat-raised-button color="primary" (click)="cancel()">
    Cancel
  </button>


</form>
