.header {
  height: 60px;
  background-color: #6c757d;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.login-mock {
  display: flex;
  align-items: center;
}
