@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
